.playVideo {
  width: 80%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}

.container {
  width: calc((100vw * 0.56));
  max-width: 1280px;
  margin-right: 1rem;
}

.videoList {
  width: 402px;
  flex-shrink: 0;
}

.videoCard {
  margin-bottom: 1rem;
}

.container iframe {
  position: relative;
  top: 1rem;
  left: 0;
  width: 100%;
  width: calc((100vw * 0.56));
  height: calc((100vw * 0.56) * (9 / 16));
  max-width: 1280px;
  max-height: 720px;
  min-width: 388px;
  min-height: 208px;
}

.title_container {
  border-bottom: 1px solid var(--color-light-grey);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.title_metaData {
  display: flex;
  justify-content: space-between;
}

.thumb_icon {
  margin-right: 0.3rem;
}

.icons span {
  margin-right: 1.5rem;
}

.viewCount {
  margin-right: 0.7rem;
  font-size: 14px;
}

.publishedAt {
  font-size: 14px;
}

.description_container {
  width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}

.show {
  margin-bottom: 1rem;
}

.showMore {
  background-color: transparent;
  color: grey;
  padding: 0;
}

.underline {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--color-light-grey);
}

@media (max-width: 1000px) {
  .playVideo {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container {
    width: 95%;
    padding: 0;
    margin: 0 1.5rem 0 1.5rem;
  }
  .container iframe {
    width: 100%;
    height: calc((100vw) * (9 / 16));
  }

  .videoList {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 95%;
  }
}
