.home {
  margin: 0;
}

.home .metaData {
  width: 100%;
}

.searchResult {
  display: flex;
  margin-bottom: 1rem;
}

.searchResult .thumbSizeMedium {
  max-width: 320px;
  max-height: 180px;
  margin-right: 1rem;
  height: 100%;
}

.searchResult .metaData {
  width: 100%;
  min-width: 35%;
  height: 100%;
}

.playVideo {
  display: flex;
  align-items: flex-start;
}

.playVideo .metaData {
  width: 100%;
}

.thumbSizeSmall {
  width: 168px;
  height: 94px;
  margin-right: 0.4rem;
}

img {
  cursor: pointer;
  width: 100%;
}

.home:hover img,
.searchResult:hover img,
.playVideo:hover img {
  opacity: 0.7;
}

.metaData:hover {
  cursor: pointer;
}
