:root {
  --color-red: #ff0000;
  --color-light-black: #0000008c;
  --color-black: #000000;
  --color-light-grey: #302f2f;
  --color-grey: #252424;
  --color-dark-grey: #141414;
  --color-white: #ffffff;
  --color-dark-white: #a3a3a3;
  --color-skyblue: #319af0;

  --font-size-regular: 16px;
  --font-size-small: 14px;
}

* {
  box-sizing: border-box;
}

body {
  /* margin-right: 1.5rem;
  margin-left: 1.5rem; */
  /* width: 100%; */
  min-height: 100vh;
  background-color: var(--color-dark-grey);
}

span {
  color: var(--color-white);
  line-height: 16px;
}

h2 {
  color: var(--color-white);
}

p {
  margin: 0;
  color: var(--color-white);
  line-height: 16px;
  margin-bottom: 0.2rem;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
