@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-red: #ff0000;
  --color-light-black: #0000008c;
  --color-black: #000000;
  --color-light-grey: #302f2f;
  --color-grey: #252424;
  --color-dark-grey: #141414;
  --color-white: #ffffff;
  --color-dark-white: #a3a3a3;
  --color-skyblue: #319af0;

  --font-size-regular: 16px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p,
span {
  line-height: 20px;
  color: var(--color-white);
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--color-dark-grey);
}

h2 {
  color: var(--color-white);
}

ul {
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
