:root {
  --color-red: #ff0000;
  --color-light-black: #000000d7;
  --color-black: #000000;
  --color-grey: #302f2f;
  --color-dark-grey: #141414;
  --color-white: #ffffff;
  --color-skyblue: #319af0;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
